h1 {
    color: red;
}
h2 {
    border: 3px dashed blue;
}
/* Grid 1 Section: Start */
.container {
    display: grid;
    grid-template-columns: 100px 100px;
}
.d1 {
    background-color: lightblue;
}
.d2 {
    background-color: coral;
}
.d3 {
    background-color: yellow;
}
.d4 {
    background-color: lightgreen;
}
span {
    color: red;
    font-weight: 900;;
}

/* Grid 1 Section: End; */

/* 

You can use all of the below:
fr: sets the column or row to a fraction of the available space.
auto: sets the columns or rows to the width or height of its content automatically
%: adjusts the column or row to the percent width of its container 

*/

/* Grid 2 Section: Start */
.container-2{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 200px 200px;
}
.d5 {
    background-color: purple;
}
.d6 {
    background-color: royalblue;
}
/* Grid 2 Section: End */

/* Grid 3Section: Start */
.container-3{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 200px 200px;
}
.container-3 > .d1 {
    display: flex;
    border: 1px solid black;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* Grid 3 Section: End */

